.Logo {
  max-width: 800px;
  max-height: 600px;
}
.Container {
  position: relative;
  .FormContainer {
    .Form {
      form {
        input {
          padding: 10px;
          width: 600px;
        }
      }
    }
    .ListContainer {
      background-color: var(--grey);
      color: var(--text-color-3);
      border: 2px solid var(--divider);
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      position: absolute;
      z-index: 2;
      top: 32%;
      width: 79%;
      max-height: 200%;
      overflow-y: auto;
      .List {
        max-height: 100%;
      }
      img {
        max-width: 4%;
        max-height: 4%;
        font-size: 10%;
      }
    }
  }
  .BtnContainer {
    z-index: 1;
  }
}
