.Search {
  color: var(--text-color-3);
  background-color: var(--text-color);
  width: 450px;
  height: 40px;
  border-radius: 15px;
  .InnerSearch {
    color: var(--text-color-3);
    width: 450px;
    height: 40px;
    &::placeholder {
      color: var(--text-color-3);
    }
  }
}
.Compo {
  color: var(--text-color-2);
  background-color: var(--grey);
  border: 2px solid var(--hard-blue);
  max-height: 400px;
  min-height: 400px;
  width: 100%;
  margin: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-sizing: border-box;
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background: var(--hard-blue);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 15px;
  }
  .InnerCompo {
    border: 2px solid var(--hard-blue);
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    background-color: white;
    color: var(--text-color-3);
  }
}
.Stat {
  .Price {
    height: 40px;
    width: 200px;
    border: 2px solid var(--divider);
    background-color: var(--grey);
    color: var(--text-color-3);
  }

  .Perf {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 20px;
    width: 200px;
    max-height: 400px;
    min-height: 400px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--grey);
    border: 2px solid var(--hard-blue);
    p{
      color: var(--text-color-3);
    }
  }
}
