.Title {
  width: 100%;
  button {
    width: max-content;
    font-size: 120%;
  }
  img {
    width: 150px;
    border: 3px solid var(--grey-hard);
  }
}
.Container {
  display: flex;
  justify-content: center;
  textarea {
    width: 100%;
    background-color: transparent;
    border: 3px solid var(--divider);
    border-radius: 5px;
    height: 300px;
    max-height: 300px;
  }
}

.BtnContainer{
  width: 100%;
}
