.Profil {
  .ProfilInfo {
    img {
      max-width: 100px;
      max-height: 100px;
      position: relative;
      z-index: 0;
    }
    .editContainer {
      color: var(--hard-blue);
      width: 20px;
      position: relative;
      left: 79%;
      bottom: 24px;
      max-width: 100%;
      z-index: 1;
      &:hover {
        transform: 0.5s border;
        transform: 0.5s box-shadow;
        box-shadow: var(--box-shadow);
      }
    }
  }
  .ProfilContent {
    color: var(--hard-blue);
    padding: 150px 250px;
    background-color: white;
    opacity: 50%;
    border: 3px solid var(--hard-blue);
  }
}
