* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: var(--text-color);
  background-color: var(--primary);
  margin: 0;
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img{
    max-width: 100%;
}

.active{
  display: none;
}

input{
  &:focus{
    outline-width: 0;
    border: 2px solid var(--text-color);
  }
}

select{
  border: 2px solid var(--divider);
  border-radius: 15px;
  padding: 10px;
  background-color: transparent;
  color: var(--text-color);
  option{
    background-color: var(--primary);
    color: var(--text-color-3);
  }
}