:root {
  --primary: #82ccdd;
  --blue-1: #60a3bc;
  --blue-2: #3c6382;
  --hard-blue: #0a3d62;
  --text-color: white;
  --font-family: "Roboto Slab", serif;
  --error: #eb2f06;
  --error-light: #e55039;
  --divider: #0c2461;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
//https://flatuicolors.com/palette/fr
